@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html,
body {
    font-family: 'DejaVu Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
}

a,
a:visited,
a:focus
{
    color:#9397cd;
    text-decoration:none;
}

a:hover {
    color:#8387bd;
    text-decoration:none;
}

h4 {
    padding:0;
    margin:initial;
    font-family: 'Righteous', cursive;
    text-transform:uppercase;
}

.outer-container {
    width:600px;
    background-color:#505061;
    border-radius:5px;
    height:100%;
}

.top20 {
    margin-top:20px;
}

.right20 {
    margin-right:20px;
}

.table {
    margin-top:10px;
    margin-bottom:10px;
}

.table.lower {
    margin-top:5px;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    background-color:#9397cd;
    color:white;
    font-size:11px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.nav-tabs>li>a {
    border-radius:initial;
}

.nav>li>a {
    padding: 3px 10px;
}

.nav-tabs>li>a:hover,
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border:none;
}

.nav-tabs {
    border-bottom: 1px solid #9397cd;
    box-shadow: inset #404040 2px -3px 0px 0px;
}

.tab-pane {
    min-height:120px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    padding:0;
}

.add-link {
    padding: 5px 10px 0 0;
    font-size:11px;
}

.no-config {
    padding:120px 10px 10px 10px;
    text-align:center;
}

.form-content {
    padding:10px 30px;
}

.top-button {
    padding-bottom:2px;
    margin-bottom:1px;
    border-bottom:solid 2px #404040;
}

.asset {
    padding-left:20px;
    padding-top:5px;
    border-top:solid 1px #9397cd;
    border-bottom:solid 2px #404040;
    margin-bottom:1px;
}
.asset:last-child {
    border-bottom:none;
}

.lightblue {
    color:#9397cd;
}

.grey {
    color:#999;
}