<div class="outer-container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="javascript:void(0)" aria-controls="portfolio" role="tab" data-toggle="tab">Portfolio</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="portfolio">
            <div class="clearfix">
                <a class="pull-right add-link" href="javascript:void(0)" (click)="addItem()" *ngIf="screenMode != 1">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add
                </a>
            </div>
            <div class="no-config" *ngIf="screenMode == 0 && portfolio !== null && portfolio.length == 0">
                <p class="top20"><i>No portfolio configurations</i></p>
                <p>
                    <strong><a href="javascript:void(0)" (click)="addItem()">Configure your portfolio</a></strong>
                </p>
            </div>
            <div class="no-config" *ngIf="screenMode == 0 && viewData == null">
                <p class="top20">Loading latest coin data ...</p>
            </div>
            <div class="" *ngIf="screenMode == 0 && viewData != null && viewData.length > 0">
                <div class="asset" *ngFor="let a of viewData">
                    {{a.coinData.name}} ${{a.coinData.price_usd}}
                    <div *ngFor="let b of a.holdings">
                        {{b.units}} {{a.coinData.symbol}} bought for ${{b.cost}}
                    </div>
                </div>
            </div>

            <div class="add-item" *ngIf="screenMode == 1">
                <div class="clearfix">
                    <a class="pull-right add-link" href="javascript:void(0)" (click)="cancelAddItem()">
                        <span class="glyphicon glyphicon glyphicon-circle-arrow-left"></span> Cancel
                    </a>
                </div>
                <div class="form-content">
                    <h4>Add an asset to track</h4>
                    <form>
                        <div class="form-group">
                            <label for="drpCurrency">Currency</label>
                            <select id="drpCurrency" class="form-control" [(ngModel)]="selectedCurrencyId" [ngModelOptions]="{standalone: true}">
                                <option [value]="null">[ select a currency ]</option>
                                <option *ngFor="let c of coinData" [value]="c.id"> {{c.name}} </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtUnits">Units</label>
                            <input type="number" class="form-control" id="txtUnits" [(ngModel)]="assetUnits" placeholder="Units of the currency aquired" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="txtCost">Cost</label>
                            <input type="number" class="form-control" id="txtCost" [(ngModel)]="assetCost" placeholder="Amount paid in dollars" [ngModelOptions]="{standalone: true}">
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary" (click)="addAsset()">Add Asset</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>